body {
    font-family: sans-serif;
}
.link-header{
   position: absolute;
    background-color: lawngreen;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: blueviolet;
    left: 25px;
    top: 33px;
}
header{
   height: 100px;
    background-color: lightseagreen;
    width: 100%;
}
b{
    margin-top: 20px;
    margin-left: 40px;
}
h1{
   text-align: center; 
   font-size: 60px;
   color: green;
}

main img{
    margin-right: 500px;
    
}
footer{
    background-image:linear-gradient(to right, rgb(189, 75, 212) , rgb(221, 205, 56), rgb(187, 69, 148) );
    width: 100%;
}

